# Created by .ignore support plugin (hsz.mobi)
/.idea/
*.iml
.gitignore
dubbo-api/target/
dubbo-provider/target/
hcw-tec-pojo/target/
hcw-tec-service/target
hcw-tec-web/target/
rabbitmq-consumer/target/
rabbitmq-producer/target/
