<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="hcw.tecservice">
        <context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
    </context:component-scan>

    <task:annotation-driven scheduler="myTaskScheduler"/>
    <task:scheduler id="myTaskScheduler" pool-size="5"/>

    <bean id="personLife" class="hcw.tecservice.learn.bean.PersonLife" init-method="initMethod" destroy-method="destoryMethod" scope="singleton">
        <property name="name" value="hechengwen"/>
    </bean>

    <import resource="jdbc.xml" />
    <import resource="classpath:shiro/shiro.xml" />
    <import resource="redis.xml" />

</beans>